html,
  body: {
  height: auto;
  width: 100%;
  transition: 5s;
}
/*//rock paper scissors game, calendar, instagram, facebook,github to the project in and of itself,
short stories, youtube page maybe, linkedin,
//programming-rps, calendar app, e- reader, */
#bottom {
}

.portfolioMenu {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 30%;
  background-color: black;
  z-index: -1;
  position: absolute;
}
i {
  color: white;
}
.me {
  ul,: -2;

  height: 75%;
}

li {
  display: inline;
  border-width: 2px;
  border-color: red;
  border-style: solid;
  padding: 0;
}

a {
  color: white;
  text-align: center;
}

.pic {
  background-image: url("ScreenShot.png");
  background-size: cover;
  color: white;
  z-index: -1;
  margin: auto;
  border-radius: 49.5% 50% 0 0;
  display: flex;
  height: 100%;

  flex-grow: 8;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#contact {
  background-color: black;
  color: white;
  /* background-size: cover;*/
  background-image: url("mariopipe.png");
  display: flex;

  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  transition: top 10s;
  /*  flex-basis: auto;  default auto */
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  margin: 0 auto;
}
/*#contact:active {
    top: 600px;
}*/
p {
  background-color: rgb(112, 40, 59, 0.5);
  /*margin: 100px 140px 0 140px;*/
  border-color: gold;
  /*border-width: 5px;*/
  border-style: solid;
  display: flex;
  /* padding: 120px 100px;*/
  /*flex-shrink:6;*/
  width: 80%;
  font-size: 4vmax;
  line-height: 4vmax;
  font-family: "Pattaya", sans-serif;
  text-align: center;
}

#unveil {
  /*the unveil button*/
  display: flex;
  padding: 50px;
  font-size: 5vmax;
  align-items: center;
  background-color: rgba(101, 15, 22, 0.45);
}

.unveilMore {
  padding: 3%;
  text-align: center;
  color: white;

  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(112, 40, 59, 1);
  border-radius: 0 0 20% 20%;
  display: flex;
  /* font-size:vmax;*/

  font-size: 3vmax;
}

nav {
  padding: 3%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  opacity: 0.7;

  border-radius: 0;
}

.navWithMuliLevelDropdowns {
  display: none;
  justify-content: space-evenly;
  display-content: space-between;
  background-color: red;
  width: 100%;
  height: 100%;
}
/*/*http://htmldog.com/techniques/dropdowns/*/ /*as guide on how to set up multi-level dropdowns
*/
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
li {
  display: inline;
  position: relative;
  font-size: 3vmax;
  border: white;
}
ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  font-size: 3vmax;
  /*list item in menu*/
}

ul ul ul li {
  font-size: 3vmax;
  /*list item in sub-menu*/
}

ul ul ul li:hover {
  font-size: 3vmax;
  z-index: 1;
}

ul ul ul {
  left: 100%;
  top: 0;
}
li:hover > ul {
  display: flex;
  flex-direction: column;
  z-index: 1;
}
li ul li:hover {
  background-color: rgba(76, 25, 25, 0.47);
}
.dropdown {
  background-color: rgba(204, 153, 255, 0.7);
  /*purpleish blue*/
  /*'-æ='*/
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 3vmax;
  width: 150%;
}

.subDropdown {
  font-size: 2vmax;
  background-color: rgba(0, 102, 102, 0.8);
  /*greenish blue*/
}
.mainTable {
  height: 100%;
  width: 100%;
  display: none;
  color: rgb(255, 217, 15);
  background: blue;
  font-size: 3vmax;
  margin: 3% 5% 0 1%;
}

.name {
  width: 90%;
}

@media screen and (orientation: landscape) {
  .portfolioMenu {
    width: 80%;
    margin-left: 5%;
    z-index: -1;
  }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .pic {
    position: relative;
    top: -90px;
    background-size: 100%;
  }
  .portfolioMenu {
    width: 80%;
    /*margin:0 auto;*/
  }
  #bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .mainTable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  tr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  th {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
